#change domain to what's set in NextDNS
immich.home {

    tls internal

    reverse_proxy 127.0.0.1:2283 {
        header_up Host {host}
        header_up X-Forwarded-Host {host}
        header_up X-Forwarded-Proto https
        header_up X-Forwarded-Port 443
        header_up Origin https://immich.home
    }
}
